# Put this file into /etc/udev/rules.d

SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="7371", MODE="0660", GROUP="plugdev", TAG+="uaccess", TAG+="udev-acl"
